<div class="content">
  <p>
    Trabajo páctico del taller de angular de la carrera TUDAI de la Universidad
    Nacional del Centro de la Provincia de Buenos aires
  </p>

  <p>
    Proyecto pensado inicialmente para consumir la api desarrollada en la
    materia Web2
  </p>

  <p>
    La idea era deployar el backend en un servidor gratuito de Hostinger. Al
    momento de deployarlo me di cuenta de que los servidores gratuitos no
    permiten esta funcionalidad, por lo que se rediseñó el proyecto para que
    consuma un servicio que devuelve esta información.
  </p>

  <ul>
    <li>
      La idea inicial era que además de seleccionar un libro favorito, se debía
      poder tomar notas sobre el libro que uno quería. Esta última funcionalidad
      no llegé a hacerla
    </li>

    <li>
      El listado de favoritos y notas queda guardado de forma persistente en el
      LocalStorage del navegador
    </li>
  </ul>
</div>
