<div class="content">
  <table>
    <thead>
      <tr>
        <td>Tapa</td>
        <td>Título</td>
        <td>Autor</td>
        <td>Género</td>
        <td>Precio</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books" [ngClass]="{'favourite': book.favourite}">
        <td class="cover">
          <img *ngIf="book.url_cover" [src]="book.url_cover" [alt]="'No disponible'" />
        </td>
        <td>
          {{ book.title }}
        </td>
        <td>
          {{ book.author }}
        </td>
        <td>
          {{ book.genre }}
        </td>
        <td>
          {{ book.price | currency }}
        </td>
        <td class="actions" >
          <button (click)="toggleFavorite(book.id!)">
            {{ book.favourite ? '-' : '+' }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!--
    <table mat-table [dataSource]="(books)" class="mat-elevation-z8" *ngIf="books.length > 0">
    <ng-container matColumnDef="cover">
      <th mat-header-cell *matHeaderCellDef>Tapa</th>
      <td mat-cell *matCellDef="let book" class="cover">
        <img *ngIf="book.url_cover" [src]="book.url_cover" [alt]="'No disponible'" />
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Título</th>
      <td mat-cell *matCellDef="let book">{{ book.title }}</td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef>Autor</th>
      <td mat-cell *matCellDef="let book">{{ book.author }}</td>
    </ng-container>

    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef>Autor</th>
      <td mat-cell *matCellDef="let book">{{ book.genre }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Precio</th>
      <td mat-cell *matCellDef="let book">{{ book.price }}</td>
    </ng-container>


    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let book"
      class="actions"
      [ngClass]="{'favourite': book.favourite}">
        <button (click)="toggleFavorite(book.id)">
          {{ book.favourite ? '-' : '+' }}
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
-->

  <div class="vacio" *ngIf="books.length === 0">
    <span>NO HAY LIBROS PARA MOSTRAR</span>
  </div>
</div>
