table {
  width: 100%;
  img {
    height: 3rem;
  }

  td.cover {
    text-align: center;
  }

  .actions {
    text-align: center;
  }

  .favourite {
    background-color: rgb(255, 243, 175);
  }
}
