#search {
  $color: rgb(84, 36, 94);
  $sep:.5rem;

  padding: $sep;
  display: flex;
  gap: $sep;

  border-radius: $sep;
  border: 1px solid $color;
  background-color: $color;

  .fields {
    width: calc(100% - 100px - $sep);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    input {
      border-radius: $sep;
      padding: 0.25rem;
      background-color: rgba(240, 240, 240, 0.9);
      color: $color;
    }
  }
  button {
    border-radius: $sep;
    width: 100px;
    color: $color;
  }
}

  hr {
    margin: .75rem 0;
  }
