<div class="content">
  <div id="search" class="content">
    <div class="fields">
      <input type="text" placeholder="Búsqueda por título..." [(ngModel)]="search.title">
      <input type="text" placeholder="Búsqueda por autor..."  [(ngModel)]="search.author">
      <input type="text" placeholder="Búsqueda por género..." [(ngModel)]="search.genre">
    </div>
    <button (click)="find()">Buscar</button>
  </div>

  <h1>Resultado Búsqueda</h1>
  <app-list-books [books]="books"></app-list-books>
  <hr>
  <app-favourites></app-favourites>
</div>
